<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <Page
    canEdit="true"
    id="studentinfo"
    title="&quot;Student Details&quot;">
    <Variable
      initialValue="new studentData_Ext()"
      name="st"
      type="entity.studentData_Ext"/>
    <Screen
      editable="true">
      <Toolbar>
        <EditButtons/>
      </Toolbar>
      <DetailViewPanel
        editable="true">
        <InputColumn>
          <TextInput
            editable="true"
            id="Name1"
            label="&quot;FirstName&quot;"
            value="st.FisrtName"/>
          <TextInput
            editable="true"
            id="Name2"
            label="&quot;LastName&quot;"
            value="st.LastName"/>
          <TextInput
            editable="true"
            id="dateofbirth"
            label="&quot;DOB&quot;"
            value="st.DOB"/>
        </InputColumn>
      </DetailViewPanel>
    </Screen>
  </Page>
</PCF>