<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <InputSet
    id="IdentityInputSet"
    mode="China">
    <Require
      name="st"
      type="entity.studentData_Ext"/>
    <TextInput
      editable="true"
      id="ResidentIdentityNumber"
      label="&quot;RIN&quot;"
      value="st.ResidentIdentityNumber"
      valueType="java.lang.Integer"/>
  </InputSet>
</PCF>