<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <InputSet
    id="IdentityInputSet"
    mode="India">
    <TextInput
      editable="true"
      id="PAN"
      label="&quot;Pan Number&quot;"
      value="st.PanNumber"
      __disabled="true"/>
    <TextInput
      editable="true"
      id="Aadhar"
      label="&quot;Aadhar Number&quot;"
      value="st.AadharNumber"
      __disabled="true"/>
  </InputSet>
</PCF>