<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <InputSet
    id="IdentityInputSet"
    mode="China">
    <TextInput
      editable="true"
      id="ResidentIdentityNumber"
      label="&quot;RIN&quot;"
      value="ResidentIdentityNumber"
      __disabled="true"/>
  </InputSet>
</PCF>