<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <InputSet
    id="IdentityInputSet"
    mode="India">
    <Require
      name="st"
      type="entity.studentData_Ext"/>
    <TextInput
      editable="true"
      id="PAN"
      label="&quot;Pan Number&quot;"
      value="st.PanNumber"/>
    <TextInput
      editable="true"
      id="Aadhar"
      label="&quot;Aadhar Number&quot;"
      value="st.AadharNumber"
      valueType="java.lang.Integer"/>
  </InputSet>
</PCF>