<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <Page
    canEdit="true"
    id="studentinfo"
    title="&quot;Student Details&quot;">
    
    <Variable
      initialValue="new studentData_Ext()"
      name="st"
      type="entity.studentData_Ext"/>
    <Screen
      editable="true">
      <Toolbar>
        <EditButtons/>
        <IteratorButtons
          iterator="choiceofsubject"/>
        <ToolbarButton
          action="studentReusablePage.go()//studentpopupactionPopup.push()"
          id="studentdata"
          label="&quot;standaloneLV&quot;"/>
      </Toolbar>
      <DetailViewPanel
        editable="true">
        <InputColumn>
          <TextInput
            editable="true"
            id="Name1"
            label="&quot;FirstName&quot;"
            value="st.FisrtName"/>
          <TextInput
            editable="true"
            id="Name2"
            label="&quot;LastName&quot;"
            value="st.LastName"/>
          <TextInput
            editable="true"
            id="dateofbirth"
            label="&quot;DOB&quot;"
            value="st.DOB"/>
          <TypeKeyInput
            editable="true"
            id="StudentCountry"
            label="&quot;Country&quot;"
            value="st.Country"
            valueType="typekey.Country_Ext">
            <PostOnChange/>
          </TypeKeyInput>
          <TypeKeyInput
            editable="true"
            id="StudentState"
            label="&quot;State&quot;"
            value="st.Statelist"
            valueType="typekey.State_Ext"/>
          <InputSetRef
            def="IdentityInputSet()"
            mode="mode()"
            __disabled="true"/>
        </InputColumn>
      </DetailViewPanel>
      <ListViewPanel>
        <RowIterator
          editable="true"
          elementName="subj"
          id="choiceofsubject"
          toAdd="st.addToSubject(subj)"
          toRemove="st.removeFromSubject(subj)"
          value="st.Subject"
          valueType="entity.subject_Ext[]">
          <Row>
            <TextCell
              editable="true"
              id="intsubj"
              label="&quot;InterestedSubject&quot;"
              value="subj.InterestedSubject"/>
            <TextCell
              editable="true"
              id="unsubj"
              label="&quot;uninterestedSubject&quot;"
              value="subj.UninterestedSubject"/>
          </Row>
        </RowIterator>
      </ListViewPanel>
    </Screen>
    <Code>function mode() : String {
  if(st.Country == Country_Ext.TC_INDIA)
    return "India"
  else if(st.Country == Country_Ext.TC_USA)
    return "USA"
  else
    return "China"
}</Code>
  </Page>
</PCF>