<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <ListViewPanel
    id="studentStandaloneLV">
    <RowIterator
      editable="true"
      elementName="s"
      value="gw.api.database.Query.make(studentData_Ext).select()"
      valueType="gw.api.database.IQueryBeanResult&lt;entity.studentData_Ext&gt;">
      <Row>
        <TextCell
          editable="true"
          id="FirstName"
          label="&quot;FirstName&quot;"
          value="s.FisrtName"/>
        <TextCell
          editable="true"
          id="LastName"
          label="&quot;LastName&quot;"
          value="s.LastName"/>
        <TypeKeyCell
          editable="true"
          id="Country"
          label="&quot;Country&quot;"
          value="s.Country"
          valueType="typekey.Country_Ext"/>
        <TypeKeyCell
          editable="true"
          id="state"
          label="&quot;State&quot;"
          value="s.Statelist"
          valueType="typekey.State_Ext"/>
        <LinkCell
          label="&quot;link EntryPoint&quot;">
          <Link
            action="studentinfo.go(s)"
            id="studLink"
            label="&quot;LinkName&quot;"/>
        </LinkCell>
      </Row>
    </RowIterator>
  </ListViewPanel>
</PCF>