<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <Popup
    id="studentSearchPopup"
    title="&quot;Search&quot;">
    <Screen>
      <SearchPanel
        __disabled="true"
        criteriaName="studentRecordCriteria"
        resultsName="studentResults"
        search="studentRecordCriteria.performSearch()"
        searchCriteria="new gw.demo.studentRecordSearch_Ext()"
        searchCriteriaType="gw.demo.studentRecordSearch_Ext"
        searchResultsType="gw.api.database.IQueryBeanResult&lt;studentData_Ext&gt;">
        <DetailViewPanel>
          <InputColumn>
            <TextInput
              editable="true"
              id="Country"
              value="studentRecordCriteria.studentCountry"
              valueType="typekey.Country_Ext"/>
          </InputColumn>
          <InputFooterSection>
            <InputSetRef
              def="SearchAndResetInputSet()"/>
          </InputFooterSection>
        </DetailViewPanel>
        <ListViewPanel>
          <RowIterator
            editable="true"
            elementName="studCountry"
            value="studentResults"
            valueType="gw.api.database.IQueryBeanResult&lt;studentData_Ext&gt;">
            <Row>
              <TextCell
                id="studentCountry"
                label="&quot;studentCountry&quot;"
                value="studCountry.Country"
                valueType="typekey.Country_Ext"/>
            </Row>
          </RowIterator>
        </ListViewPanel>
      </SearchPanel>
    </Screen>
  </Popup>
</PCF>