<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <Page
    id="studentReusablePage"
    title="&quot;Student Standalone LV&quot;">
    <ScreenRef
      def="studentReusableScreen()"
      id="GoToStudentReusableScreen"/>
  </Page>
</PCF>

